@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

.body{
  background-image: url("../image/starfield.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  scroll-behavior: smooth;
}

/* CLASES DE HEADER */

nav {
  flex: 1;
  text-align: right;
}

nav li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

.menu a {
  font-weight: bold;
}

.container {
  padding-left: 3%;
  padding-right: 8%;
  overflow: hidden;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
}

.menu li:visited,
:active,
:link {
  text-decoration: none;
}

.logo {
  width: 40px;
  margin: 30px 0;
  margin-right: 10px;
}

/* FIN DE CLASES DE HEADER */

/* CLASES DE WELCOME */

.container-welcome {
  margin-left: 3%;
  margin-top: 2%;
}

.container-welcome p {
  font-size: 25px;
  font-weight: 500;
}

/* FIN DE CLASES DE WELCOME */

/* CLASES DE ESTUDIOS */

.container-estudios {
  display: flex;
  margin-top: 5%;
  width: 100%;
  height: 60vh;
  box-sizing: border-box;
  padding: 1% 1%;
  backdrop-filter: blur(15px);
}

.box {
  flex: 1;
  margin: 8px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  line-height: 0;
}

.box:hover {
}

.box img {
  width: 100%;
  height: calc(100%);
  object-fit: cover;
}

.contianer-logo-emp img {
  position: absolute;
  width: 10%;
  height: auto;
  top: 350px;
  margin-left: 45px;
}

/* FIN DE CLASES DE ESTUDIOS */

/* CLASES DE *** 

.container-botones{
  padding: 2% 2% 2% 2%;
  display: flex;
}

.container-botonA{
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #5cb85c;
}

.container-botonA p{
  margin-top: 6px;
  color: #fafafa;
  text-align: center;
}

.container-botonX{
  margin-right: 70px;
}

 FIN DE CLASES DE *** */

